@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

.App {
  align-items: center;
  justify-content: center;
}
body {
  background-color: #e3f7fe;
}

.color-border{
   background: linear-gradient(to right, red, purple);
}
.title h1 {
  color: #3a3a3a;
  text-align: center;
  margin: 30px 0;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
form {
  max-width: 500px;
  margin: 0 auto;
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 5px;
  box-shadow: 1px 2px 10px #ddd;
}
form h3 {
  text-align: center;
}
form input {
  width: 100%;
  padding: 10px 5px;
  outline: none;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.input_container {
  margin-bottom: 20px;
}
.btn_container {
  text-align: center;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
}
/* .btn_container button {
  background: #333;
  color: white;
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
} */

.todo_container {
  margin: 0 auto;
}
.todo_container p{
  height: 0px;
}
.sep-cont{
 display: flex;
 justify-content: space-around;
}
.mg-t{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.comp-tile1{
  
}
.todo {
  /* width: 50%; */
  margin-top: 20px;
  background: white;
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 2px 10px #ddd;
}
.todo input {
  cursor: pointer;
  width: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.button-complete,
.button-delete,
.button-edit {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
}
#i {
  font-size: 35px;
}
.button-complete {
  color: #95faa3;
  margin-right: 10px;
}
.button-edit {
  color: #56cfff;
  margin-right: 10px;
}
.button-delete {
  color: rgb(255, 122, 98);
}
@media screen and (max-width: 667px) {
  .task_container {
    width: 90%;
  }
  .task {
    margin-right: 0px;
  }
}
input:focus,
button:focus {
  outline: none;
}
.error{
  font-size: 12px;
  margin-left: 9px;
  color: red;
}
.hide{
  display: none;
}


@media screen and (max-width: 667px) {
 .todo{
   flex-direction: column;
   padding: 0%;
   margin: 2rem 3px;
 }
 .todo input{
   width: 100%;
 }
 .todo_container{
   padding: 0% 2px;
   width: 100%;
 }
 .btn_container{
   display: flex;
   flex-direction: column;
 }
 .button-34{
   width: 100% !important; 
   margin: 4px 0px;
 }
}
.red{
  color: red !important;
  background-color: red;
}



/* <!-- HTML !-->
<button class="button-34" role="button">Button 34</button> */


.button-34 {
  /* float: right; */
  background: #5dbaf0;
  border-radius: 4px;
  box-shadow: #6293c2 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 6px 3px !important;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 190px;
  word-break: break-word;
  border: 0;
}